[submodule "web-app"]
	path = web-app
	url = https://github.com/hariprasanth-dev/leave-management.git
	branch = web-app
[submodule "web-api"]
	path = web-api
	url = https://github.com/hariprasanth-dev/leave-management.git
	branch = web-api
